

body {
    background-color: #FDFEFF;/*vaalea tausta*/
    font-family: arial, sans-serif;
    color: #232c23; /*tumma texti vaalean taustan takii*/
    margin: 0;
    padding: 0;
}
h1 {
    color: #E71D36;
    text-align: center;
    padding: 20px;
}
header {
    background-color: #232c23;
    padding: 10px 0;
}
.navbar {/*navigaatio elementtejä*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*navigaatio linkkien ulkonäkö ja animaatio*/
.navbar a {
    color: #FDFEFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    font-weight: bold;
    /*laatikko tyylit*/
    display: inline-block;
    background-color: #363e44;
    border-radius: 10px; /*kulman pyöristys*/
    border: 2px solid #3A4349; /*pieni reunus*/
    /*animaatio*/
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
    transform: rotate(0deg);
}
.navbar a:hover {
    color: #fdfeff; /*valkoinen teksti*/
    background-color: #E71D36;
    border-color: #FDFEFF;
    cursor: pointer;
    transform: rotate(3deg);
}
footer {
    background-color: #BCCCDC; /*footter vari*/
    color: #232c33;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}