

body {
    background-color: #FDFEFF;/*vaalea tausta*/
    font-family: arial, sans-serif;
    color: #232c23; /*tumma texti vaalean taustan takii*/
    margin: 0;
    padding: 0;
    padding-bottom: 50px; /*antaa enemmän tilaa footerille sivun alaosaan*/
}
h1 {
    color: #E71D36;
    text-align: center; /*laittaa tekstin keskelle*/
    padding: 20px;
    display: inline-block;/*transform ei näköjään toimi ilman tätä*/
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
}
h1:hover {/*pompahdus animaatio*/
    color: #fdfeff;
    background-color: #E71D36;
    transform: translateY(-5px) scale(1.05);
    border-radius: 10px;
}
main {
    text-align: center;
}
header {
    background-color: #232c23;
    padding: 10px 0;
}
.navbar {/*navigaatio elementtejä*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*navigaatio linkkien ulkonäkö ja animaatio*/
.navbar a {
    color: #FDFEFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    font-weight: bold;
    /*laatikko tyylit*/
    display: inline-block;
    background-color: #363e44;
    border-radius: 10px; /*kulman pyöristys*/
    border: 2px solid #3A4349; /*pieni reunus*/
    /*animaatio*/
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
    transform: rotate(0deg);
}
.navbar a:hover {
    color: #fdfeff; /*valkoinen teksti*/
    background-color: #E71D36;
    border-color: #FDFEFF;
    cursor: pointer;
    transform: rotate(3deg);
}
footer {
    background-color: #BCCCDC; /*footter vari*/
    color: #232c33;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
}
.info-section {
    display: flex; /*flexbox*/
    justify-content: space-around; /* laittaa laatikot tasasesti vierekkäin*/
    align-items: flex-start; /*yläreunat kohdistuu*/
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;

}
.info-box {
    background-color: #eceeef;
    border: 1px solid #BCCCDC;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    flex: 1; /*antaa laatikoiden venyä tasatesti */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    transition: transform 0.3s ease-in-out; /*hover effection valmistelu*/

}
.info-box:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}
.info-box h2 {
    color: #E71D36;
    border-bottom: 2px solid #BCCCDC;
    padding-bottom: 10px;
    margin-top: 0;
}
.slideshow-container {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}