 div{
            padding: 20px;
            margin: 10px;
            
        }
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #91ff00;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgba(0, 0, 255, 0.284);
}
td {
    background-color: rgba(0, 0, 255, 0.284);
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label {
    font-weight: bold;
}

input[type="text"], input[type="email"] {
padding: 8px;
border: 1px solid darkgreen;
border-radius: 4px;
}

input[type="submit"] {
background-color: #375e0390;
color: white;
padding: 10px;
border: none;
border-radius: 4px;
cursor:pointer;
transition: background-color 0.5s ease;


}

input[type="submit"]:hover {
    background-color: rgb(12, 163, 35);
} 

.transition-button {
    background-color: #6a1e1e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.transition-button:hover {
    background-color: lightcoral;
}
.animation-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.animation-box {
        width: 150px;
        height: 150px;
        position: relative;
        animation: move 2s infinite alternate;
    
}
@keyframes move{
    from {
        left: 0px;
        /*vähä lisäilen animaatioon jotai hauskaa*/
        transform: rotate(0deg);
    }
    to {
        left: 500px;
        /*tässä laitan animaation pyörii*/
        transform: rotate(360deg);
    }
}
@keyframes shake {
    /*kuvan tärinää kokeilen*/
    0% {transform: translate(1px, 1px) rotate(0deg); }
    20% {transform: translate(-1px, 2px) rotate(-1deg); }
    40% {transform: translate(-3px, 1px) rotate(1deg); }
    60% {transform: translate(3px, 3px) rotate(0deg); }
    80% {transform: translate(1px, -1px) rotate(-1deg); }
    100% {transform: translate(0px, 0px)rotate(0deg); }
}

    .pseudo-list {
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }
    .pseudo-list li{
        padding: 10px 15px;
        margin-bottom: 5px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /*jokunen varjo*/
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        color: white;
    }
    .pseudo-list li:hover {
        transform: translateY(-3px);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
  .pseudo-list li:nth-child(odd) {
        background-color: rgb(47, 149, 9);
      }
      
 .pseudo-list li:nth-child(even) {
        background-color: rgb(0, 60, 255);
      }
      .pseudo-list2 {
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }
     .pseudo-list2 li{
        padding: 10px 15px;
        margin-bottom: 5px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /*jokunen varjo*/
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        color: white;
    }
    .pseudo-list2 li:hover {
        transform: translateY(-3px);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    .pseudo-list2 li:nth-child(even) {
        background-color: rgb(47, 149, 9);
      }
      
 .pseudo-list2 li:nth-child(odd) {
        background-color: rgb(0, 60, 255);
      }

      .filter-image {
        filter: grayscale(100%) brightness(0.2);
        transition: filter 0.3s ease, transform 0.3s ease;
        transform: translate(0, 0);
      }
      .filter-image:hover {
        filter: grayscale(0%) brightness(1);
        /*molemmat kuvat tärisee*/
        animation: shake 0.5s infinite;
      }
      .quote {
        position:relative;
        padding-left: 20px;
        font-style: italic;
      }
      .quote::before {
        content: '“';
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        color:rgb(15, 12, 12)
      }
      .quote::after {
    content: '”';
    font-size: 40px;
    position: absolute;
    /*left: 3.5em;*/
    right: -0.5;
    bottom: -0.5em;
    color: rgb(15, 12, 12);
}